Nina is trying out stuff

In [3]:
from mysql.connector import MySQLConnection, Error
import pandas as pd
from sqlalchemy import create_engine 
import pymysql

from connection_config import read_db_config

Create connection arguments

In [4]:
conn_string,ssl_args = read_db_config('teama.teama')
engine = create_engine(conn_string,connect_args=ssl_args)

Load data into pandas dataframe and upload that then onto the database

In [5]:
# apple_mobility_df = pd.read_csv('/Users/Nina/Documents/Big-Data-Challenge-Team-A/Nina_data/applemobilitytrends-2020-09-07.csv',header = 0)
# apple_mobility_df.to_sql('applemobilitytrends_raw',con = engine,if_exists = 'fail')

In [6]:
apple_mob_df = pd.read_sql('SELECT * FROM applemobilitytrends_raw', con=engine)

In [7]:
apple_mob_df.head()

,index,geo_type,region,transportation_type,alternative_name,sub-region,country,2020-01-13,2020-01-14,2020-01-15,...,2020-08-29,2020-08-30,2020-08-31,2020-09-01,2020-09-02,2020-09-03,2020-09-04,2020-09-05,2020-09-06,2020-09-07
0,0,country/region,Albania,driving,None,None,None,100.0,95.30,101.43,...,213.67,224.94,183.16,182.53,175.83,180.73,199.09,210.34,201.66,183.13
1,1,country/region,Albania,walking,None,None,None,100.0,100.68,98.93,...,154.07,145.46,160.00,177.48,159.79,162.73,170.02,152.03,143.28,166.10
2,2,country/region,Argentina,driving,None,None,None,100.0,97.07,102.45,...,62.02,37.44,52.16,55.34,52.23,58.44,71.35,69.10,39.37,54.94
3,3,country/region,Argentina,walking,None,None,None,100.0,95.11,101.37,...,41.68,29.90,37.75,40.54,36.05,43.20,54.41,52.74,31.43,43.45
4,4,country/region,Australia,driving,AU,None,None,100.0,102.98,104.21,...,83.03,82.66,84.46,86.90,90.64,97.49,100.54,77.19,83.40,86.13

In [9]:
# google_mobility_df = pd.read_csv('/Users/Nina/Documents/Big-Data-Challenge-Team-A/Nina_data/Google_Global_Mobility_Report.csv',header = 0)
# google_mobility_df.to_sql('Google_Global_Mobility_Report_raw',con = engine,if_exists = 'fail')

ValueError: Table 'Google_Global_Mobility_Report_raw' already exists.